*{
    margin: 0;
    padding: 0;
}
.header{
    text-align: center;
    background-color: rgb(220, 207, 207);
    padding: 20px;
}
a{
    color: black;
}
.section{
    display: flex;
}
.left-section{
    width: 118px;
    height: 64px;
    margin-left: 3em;
    margin-top: 2em;
    position: relative;
}
#airbnb{
    width: 40px;
    height: 40px;
    position: relative;
    top: .3em;
}
.airbnb-logo-txt{
  position: absolute;
  top: .2em;
  color: #FA5252;
  font-size: 29px;
  font-weight: 700;
}
.center-section{
    display: flex;
    width: 398.61px;
    height: 47.6px;
    margin-top: 2em;
    margin-left: 25.8em;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
.stays-txt{
    font-size: 20px;
    font-weight: 700;
}
.experience-txt{
    color: grey;
    font-size: 20px;
    font-weight: 700;
}
.right-section{
    width: 460px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.2em;
}
.airbnb-home-txt{
    font-size: 19px;
    font-weight: 700;
    color: #222222;
    position: relative;
    right: 20px;
}
#global-img{
    width: 16px;
    height: 16px;
    position: relative;
    top: .3em;
    left: .5em;
}
.border{
    border: 1px solid black;
    width: 85.6px;
    height: 48px;
    border-radius: 4em;
    border-color: grey;
    display: flex;
    flex-direction: ;
    justify-content: center;
    align-items: center;
}
#menu-icon{
    width: 16px;
    height: 16px;
    position: relative;
    right: 15px;
}
#user-icon{
    width: 16px;
    height: 16px;
}
.big-border{
    width: 713px;
    height: 63px;
    border: 5px solid black;
    /* background-color: black; */
    margin-top: 1em;
    border-radius: 4em;
    margin-left: 19em;
    display: flex;
    align-items: center;
}


.button-left{
    color: black;
     width: 284.26px;
    height: 65.6px;
    border-radius: 4em;
    background-color: white;
    border: none;


}
.text-input{
    display: flex;
    width: 218px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#text-input{
    border: none;
    position: relative;
    top: 1.5em;
    color: grey;
}
.where-txt{
    position: relative;
    top: 1em;
    font-size: 14px;
    left: 2em;
}
.button-center1{
    width: 140.74px;
    height: 64px;
}
.small-img{
    display: flex;
    overflow: auto;
    justify-content: space-evenly;
}
.icons{
    display: flex;
    flex-direction: column;
}
.icon{
    width: 24px;
    height: 24px;
    margin-left: 6em;
    margin-top: 1em;
}
.icon1{
    width: 24px;
    height: 24px;
    margin-left: 4em;
    margin-top: 1em;
}
.icons-txt{
    margin-left: 5.5em;
}
.amazing-pool-image{
    display: flex;
    flex-direction: column;
}
.amazing-pools-txt{
text-align: center;
margin-left: 2em;
color: grey;
}
.medium-img{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-left: 3em;
 }
.img1-txt1,.images{
     display: grid;
     grid-template-columns: repeat(6,1fr);
     /* grid-template-rows: repeat(3); */
     column-gap: 1em;
     row-gap: 1em;
}
.images{
    margin-top: 5em;
    display: grid;
    /* justify-content: center;
    align-items: center; */
    grid-template-columns: repeat(6,1fr);
    column-gap: 1em;
   
    margin-left: 4em;
}

.img-txt{
    display: grid;
    /* grid-template-rows: repeat(3);  */
    margin-left: 1em;
    margin-top: 1em;
} 
.img1-txt1{
    width: 300px;
    height:300px;    border-radius: 2em;
}
.img-txt1{
    color: black;
    font-weight: 700;
    font-size: 14px;
}
.img-txt2{
    color: grey;
}
.past-experience-txt{
    margin-top: 3em;
    font-size: 30px;
    font-weight: 600;
    margin-left: 3.5em;
}
.second-images{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    /* grid-template-rows: repeat(1); */
    column-gap: 1em;
    row-gap: 1em;
}
@media only screen and (max-width:1896px){
    .images{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        /* grid-template-rows: repeat(4); */

    }
}

@media only screen and (max-width:786px) {
  .images{

   display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(6,1fr); */
    column-gap: 1em;
    row-gap: 1em;

  }
  .img1-txt1{
    width: 200px;
    height:200px;
    border-radius: 2em;
}
.section-border,.section{
    display: none;
}

}
@media only screen and (max-width:420px) {
    .images{
        grid-template-columns: repeat(1,1fr);
        /* grid-template-rows: repeat(1); */
    }
    .img1-txt1{
        width: 200px;
        height:200px;
        border-radius: 2em;
    }
  
}
.inspiration-txt{
  
    font-size: 2rem;
    font-weight: 900;
    margin-top: 2em;
    margin-left: 2em;
    color: #222222;
}
.footer-1-txt{
    display: grid;
    grid-template-columns: repeat(8,150px);
    margin-left: 4em;
    font-size: 1rem;
    margin-top: 1em;
}
.footer-1-txt1{
    font-weight: 900;
}
.footer-1-txt2{
    color: grey;
}
.footer-2-txt{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.footer-2-txt1{
  display: grid;
  
    margin-left: 4em;
    margin-top: 2em;
}
.footer-2-txt1{
    
}
.footer-2-canmore-txt{
    font-weight: 700;
   
   
}
